<!--<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-12 mt5 contenedorformulario">
                <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="">Nombres y Apellidos</label>
                        <input type="text" formControlName="nya" id="" class="form-control" [ngClass]="{'is invalid':
                        submitted && f.nya.errors}">
                        <div *ngIf="submitted && nya.errors" class="invalid-feedback">
                            <div *ngIf="f.nya.errors.required">Porfavor, ingresa</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">email</label>
                        <input type="text" formControlName="email" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">password</label>
                        <input type="text" formControlName="asunto" id="" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
